<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Windows on Tuscany</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <!--Menu-->
        <div class="col-md-2 menubar logo">
            <h4>Windows On Tuscany</h4>
        </div>

        <div class="col-md-8 menubar">
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#about">About</a></li>
                    <li><a href="#cities">Cities</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-2 menubar prop">
            <h4>Properties</h4>
        </div>

        @RenderBody()

        <!--Footer-->
        <div class="row-md-1">
            <div class="col-md-12"><p style="margin-bottom:0px;">We Can {Code} It Project. Spring 2016. Developed by Niki Collier.</p></div>
        </div>
    </div>      
   @* @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false) *@

    <script src="http://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    
</body>
</html>
